@import 'bulma/css/bulma.css';

.section {
    min-height: 100vh;
}

.fade {
    -webkit-animation: slide 0.5s forwards;
    /*-webkit-animation-delay: 2s;*/
    animation: fade-in 0.5s forwards;
   /* animation-delay: 2s;*/
    opacity: 0;
}

@-webkit-keyframes fade-in {
    100% { opacity: 1; }
}

@keyframes fade-in {
    100% { opacity: 1; }
}

.fade-out {
    -webkit-animation: slide 0.5s forwards;
    /*-webkit-animation-delay: 2s;*/
    animation: fade-out 0.5s forwards;
   /* animation-delay: 2s;*/
    opacity: 1;
}

@-webkit-keyframes fade-out {
    100% { opacity: 0; }
}

@keyframes fade-out {
    100% { opacity: 0; }
}